//変数
$width_base: 1150px;
$font-family-gothic: 'Segoe UI', Verdana, 'Helvetica Neue',
    Arial, '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
$font-family-mincho: 'Times New Roman' , '游明朝' , 'Yu Mincho' , '游明朝体' , 'YuMincho' , 'ヒラギノ明朝 Pro W3' , 'Hiragino Mincho Pro' , 'HiraMinProN-W3' , 'HGS明朝E' , 'ＭＳ Ｐ明朝' , 'MS PMincho' ,serif;
$font-size-small: 1.4rem;
$font-size-small-sp: 3.2vw;
$font-size-default: 1.6rem;
$font-size-default-sp: 3.6vw;

$font-size-title: 3.6rem;
$font-size-title-sp: 6.4vw;
$font-size-title-sub: 2.2rem;
$font-size-title-sub-sp: 4.6vw;

$font-weight-bold: 600;
$line-height-default: 1.75;

$color-black: #333;
$color-grey: #808080;
$color-red: #f00;
$color-white: #fff;
$color-khaki: #a28a55;

$border-color-red: #cf1126;

$background-color-white: #f8f8f8;
$background-color-white: #fff;
$background-color-grey: #f0f0f0;
$background-color-beige: #c2aa99;
$background-color-red: #db5665;
$background-color-footer: #b59159;
$background-color-clinic: #eee;

$margin-section: 9.6rem;

$anime-default: .3s;

$table-width: 860px;
$table-color-main: #e5d9c5;
$table-color-sub: #f3ede4;
